{% extends 'base.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="container marketing">

    <!-- Four columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-3">
            <img src="/static/images/samAvatar.png" width="140" height="140">
            <h2>Sam Dominguez</h2>
            <p><a class="btn btn-secondary" target="_blank" rel="noopener noreferrer"
                    href="https://www.linkedin.com/in/samueljdominguez/">LinkedIn</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <img src="/static/images/gabeAvatar.png" width="140" height="140">
            <h2>Gabe Murphy</h2>
            <p><a class="btn btn-secondary" target="_blank" rel="noopener noreferrer"
                    href="https://www.linkedin.com/in/gabemurphy/">LinkedIn</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <img src="/static/images/colinAvatar.png" width="140" height="140">

            <h2>Colin Mullan</h2>
            <p><a class="btn btn-secondary" target="_blank" rel="noopener noreferrer"
                    href="https://www.linkedin.com/in/colin-mullan-a11b90132/">LinkedIn</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <img src="/static/images/obama.jpg" width="140" height="140">

            <h2>TBD</h2>
            <p><a class="btn btn-secondary" target="_blank" rel="noopener noreferrer" href="#">View details &raquo;</a>
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Samuel Dominguez<span class="text-muted"> (Role)</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose
                here.</p>
        </div>
        <div class="col-md-5">
            <img src="/static/images/Dominguez.Samuel.photo.JPG" height="300" width="250">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-3">
            <h2 class="featurette-heading">Gabe Murphy<span class="text-muted"> (Role)</span>
            </h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
                layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-1 order-md-1"></div>   
        <div class="col-md-4 order-md-2">
            <img src="/static/images/gabe_pfp2.jpg" height="300" width="300">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Colin Mullan <span class="text-muted">(Role)</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like with
                some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="/static/images/colinPFP.png" height="350" width="300">
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-3">
            <h2 class="featurette-heading">TBD <span class="text-muted">(Role)</span>
            </h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
                layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-1 order-md-1"></div>
        <div class="col-md-4 order-md-2">
            <img src="/static/images/obama.jpg" height="300" width="200">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}