{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="p-5" style="width: 600px; margin: auto; border: 1px solid black;">
    <main class="px-3" style="text-align: center;">
        <h1>What are you bringing to the cookout?</h1>
        <div class="content-section">
            <p>Hello</p>
        </div>
        <p class="lead">
            <a href="https://www.reddit.com/r/OSU/" class="btn btn-lg btn-secondary fw-bold border-white bg-blue"
                target="_blank">Learn more</a>
        </p>
    </main>
</div>
{% endblock %}