{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="p-5" style="width: 600px; margin: auto; border: 1px solid black;">
    <main class="px-3" style="text-align: center;">
        <h1>What are you bringing to the cookout?</h1>
        <div class="content-section">
            <form method="POST" action="">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"></legend>
                    <div class="form-group">
                        {{ form.item.label(class="form-control-label") }}<br>
                        {{ form.item(size=30) }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <p class="lead">
            <a href="https://www.reddit.com/r/OSU/" class="btn btn-lg btn-secondary fw-bold border-white bg-blue"
                target="_blank">Learn more</a>
        </p>
    </main>
</div>
{% endblock %}