{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="p-5" style="width: 600px; margin: auto; border: 1px solid black;">
    <main class="px-3" style="text-align: center;">
        <h1>What are you bringing to the cookout?</h1>
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"></legend>
                    <div class="form-group">
                        <p>Enter below:</p>
                        {{ form.label(class="form-control form-control-lg") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </main>
</div>
{% endblock %}